# CLOUDFLARE_API_TOKEN=REPLACE_WITH_API_TOKEN
# ↑ .env.production で、かつ `wrangler login` がうまくいかない場合だけ設定すること
TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET=1x0000000000000000000000000000000AA
# ↑ テスト用のサイトキー・シークレットキー
# https://developers.cloudflare.com/turnstile/troubleshooting/testing/#testing-scenarios
